@charset "UTF-8";
@font-face {
    font-family: 'bebas';
    src: url(Fonts/BebasNeue-Regular.ttf) format(truetype);
}
@font-face {
    font-family: 'droid';
    src: url(Fonts/idroid.otf) format(opentype);
}
@font-face {
    font-family: 'passion-one';
    src: url(Fonts/PassionOne-Black.ttf) format(truetype);
}

body{
    margin: 0%;
    padding: 0%;
    background-image: url(imagens/fundo.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    margin: 0%;
    padding: 10px;
    width: auto;
    height: 80px;
    background-image: linear-gradient(to bottom, blue,black);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

details{
    position: absolute;
    width: 70px;
    height: 70px;
    font-size: 0px;
}

summary{
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    border-radius: 100%;
}

summary:hover{
    border: 2px solid white;
    transition: 0.5s;
}

details[open] > summary{
    left: 43%;
    transition: 1s;
}

summary > img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.fundoredes{
    width: 160px;
    height: 593px;
    margin: -10px 0px 0px -10px;
    padding: 100px 0px 0px 0px;
    background-image: linear-gradient(to bottom, black, blue);
    border-bottom: 2px solid white;;
    border-right: 2px solid white;

}

.redes{
    width: 125px;
    margin: auto;
}

.redes > a{
    background-image: linear-gradient(to left, transparent, white);
    color: white;
    display: block;
    margin: 5px 0px 5px 0px;
    padding: 5px;
    font-size: 16px;
    font-weight: bolder;
    text-decoration: none;
    border-radius: 10px;
    text-shadow: 2px 0px 1px black;
    -webkit-text-stroke: 1px black;
    transition: 0.2s;
}

.redes > a:hover{
    font-size: 18px;
    background-color: white;
    transition: 0.2s;
}

.redes > a > img{
    margin: 0px 0px -3px 0px;
    width: 20px;
    height: 20px;
}

h1{
    margin: auto;
    font-family: 'bebas';
    font-size: 2em;
    font-weight: bolder;
    text-decoration: underline;
    color: white;
    text-shadow: 0.4vw 0px 0px black;
    -webkit-text-stroke: 0.5px black;
}

main{
    width: 92%;
    height: min-content;
    margin: 0% auto 0% auto;
    padding: 20px 10px 10px 10px;
    background-color: rgba(255, 255, 255, 0.200);
    box-shadow: 0px 0px 10px black;
    text-align: center;
}

.projetos{
    margin: auto auto 10px auto;
    width: 90%;
    height: max-content;
    background-image:linear-gradient(to left,transparent,rgba(255, 255, 255, 0.800),transparent) ;
    border-radius: 5px;
}

.projetos > a{
    display: inline-block;
    padding: 5px;
    margin: 10px 30px 10px 0px;
    color: black;
    background-color: rgba(0, 0, 255, 0);
    font-size: 2.5vw;
    font-weight: bolder;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 5px;
    transition: 0.3s;
}

.projetos > a:hover{
    margin: 5px 25px 5px -5px;
    padding: 10px;
    color: white;
    background-color: blue;
    font-size: 2.7vw;
}

.frame{
    width: 99%;
    height: 500px;
}

.frame > iframe{
    width: 100%;
    height: 100%;
    border: 5px solid black;
    border-radius: 10px;
}

.rodape{
    width: auto;
    height: 10px;
    background-color: black;
}
